<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Task 7</title>
</head>
<body>
    <div class="container">
    <form action="/add" method="post">
        <h1>Registration Form</h1>
        <label for="name">Name: 
        <input type="text" name="name" class="input" required></label>
        <br><br>
        <label for="email">Email: 
        <input type="email" name="email" class="input" required></label>
        <br><br>
        <label for="contact">Contact:
        <input type="number" name="contact" maxlength="10" minlength="10" class="input" required> </label>
        <br><br>
        <label for="address">Address: 
        <input type="text" name="address" class="input" required></label>
        <br><br>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>
<div class="container2">
    <h3>User info are :</h3>
    <table class="styled-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Update</th>
            <th>Action</th>
        </tr>
        <% cc.forEach((e) => { %>
            <tr>
                    <td><%= e.name %></td>
                    <td><%= e.email %></td>
                    <td><%= e.contact %></td>
                    <td><%= e.address %></td>
                    <td><a href="/edit/<%= e._id %>"><button class="todos">Edit</button></a></td>
                    <td><a href="/del/<%= e._id %>"><button class="todos">Delete</button></a></td>
            </tr>
            <% }) %>
    </table>
</div>
</body>
</html>